/* Element Selektor für alle div */
div{
    background-color: aqua;
}

/*id Selektor selected nur ID */
#header{
    font-size: 3rem;
}

/* Klassenselector */
.subtitle{
    color: blue
}

#subtitle p{
    color: green;
}